jupyter
jupyterlab
matplotlib
mysql-connector-python
numpy
pandas
pandas_profiling
pandasgui
pandasql
plotly
plotly_express
psutil
pymysql
rich
scikit-image
scikit-learn
scikit-optimize
scipy
scrapy
seaborn
shap
spacy
sqlalchemy
statsmodels
tabulate
tensorflow
tqdm
